.main{
    background: #b36646;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }
  
  .title
  {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: black;
  }
  
  ul.ul-cards {
      margin-inline: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      list-style: none;
      justify-content: center;
      margin: 40px;
  }
  
  ul.ul-cards>li{
      --bg-color: #F2F2F2;
      --text-color: #333;
      --padding: 1rem;
      --circle-size: 5rem;
      --circle-expand: 1rem;
      --flap-height: 1.25rem;
      --flap-offset: 0.5rem;
      max-width: 70rem;
      margin-top: calc(var(--circle-size) / 2 + var(--circle-expand));
      margin-bottom: var(--flap-offset);
      background-color: var(--bg-color);
      background-image: linear-gradient(to bottom left, transparent 50%, rgba(0 0 0  / .125));
      border-radius: var(--padding);
      padding: var(--padding);
  
      --bs-rim: inset -0.1rem 0.1rem 0.1rem rgb(255 255 255 / .5);
      --bs-card-spread: 0.25rem;
      --bs-card-color:  rgb(0 0 0 / 0.02);
      --bs-card:
          -0.1rem 0.1rem var(--bs-card-spread) var(--bs-card-color),
          -0.2rem 0.2rem var(--bs-card-spread) var(--bs-card-color),
          -0.3rem 0.3rem var(--bs-card-spread) var(--bs-card-color),
          -0.4rem 0.4rem var(--bs-card-spread) var(--bs-card-color),
          -0.5rem 0.5rem var(--bs-card-spread) var(--bs-card-color),
          -0.6rem 0.6rem var(--bs-card-spread) var(--bs-card-color),
          -0.7rem 0.7rem var(--bs-card-spread) var(--bs-card-color),
          -0.8rem 0.8rem var(--bs-card-spread) var(--bs-card-color),
          -0.9rem 0.9rem var(--bs-card-spread) var(--bs-card-color),
          -1.0rem 1.0rem var(--bs-card-spread) var(--bs-card-color),
          -1.1rem 1.1rem var(--bs-card-spread) var(--bs-card-color),
          -1.2rem 1.2rem var(--bs-card-spread) var(--bs-card-color),
          -1.3rem 1.3rem var(--bs-card-spread) var(--bs-card-color),
          -1.4rem 1.4rem var(--bs-card-spread) var(--bs-card-color),
          -1.5rem 1.5rem var(--bs-card-spread) var(--bs-card-color),
          -1.6rem 1.6rem var(--bs-card-spread) var(--bs-card-color),
          -1.7rem 1.7rem var(--bs-card-spread) var(--bs-card-color),
          -1.8rem 1.8rem var(--bs-card-spread) var(--bs-card-color),
          -1.9rem 1.9rem var(--bs-card-spread) var(--bs-card-color);
      box-shadow: var(--bs-rim), var(--bs-card);
      display: grid;
      grid-template-rows: max-content max-content auto ;
      justify-items: center;
      text-align: center;
      gap: 0.75rem;
      position: relative;
  }
  ul.ul-cards>li>.icon{
      width: var(--circle-size);
      margin-top: calc(var(--circle-size) / -2 - var(--padding));
      aspect-ratio: 1;
      background-color: var(--bg-color);
      justify-self: center;
      border-radius: 50%;
      display: grid;
      place-items: center;
      box-shadow:var(--bs-rim), -0.1rem 0.1rem 0.25rem rgb(0 0 0 / .25);
  }
  ul.ul-cards>li>.icon>i{
      font-size: calc(var(--circle-size) / 3);
      color: var(--accent-color);
  }
  ul.ul-cards>li>.title{
      margin-top: 0.5rem;
      color: var(--accent-color);
      font-weight: 700;
  }
  ul.ul-cards>li>.content{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 1rem;
      margin-bottom: 1rem;
      color: var(--text-color)
  }
  ul.ul-cards>li::before, ul>li::after{
      content: "";
      position: absolute;
  }
  ul.ul-cards>li::before{
      top: calc(var(--circle-size) / -2 - var(--circle-expand));
      width: calc(var(--circle-size) * 1 + var(--circle-expand) * 2);
      height: calc(100% + var(--circle-size) / 2 + var(--padding) + var(--flap-offset)) ;
      background-color: var(--accent-color);
      background-image: linear-gradient( transparent 50%, rgb(0 0 0 / .25) 0);
      border-top-left-radius: calc(var(--circle-size) / 2 + var(--circle-expand));
      border-top-right-radius: calc(var(--circle-size) / 2 + var(--circle-expand));
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - var(--flap-offset)),
        calc(100% - var(--flap-offset)) 100%,
        var(--flap-offset) 100%,
        0 calc(100% - var(--flap-offset))
      );
      z-index: -1;
  }
  ul.ul-cards>li::after{
      width: calc(var(--circle-size) * 1 + var(--circle-expand) * 2 - var(--flap-offset) * 2);
      height: var(--flap-height);
      bottom: calc(var(--flap-offset) * -1);
      border-top-left-radius: var(--flap-height);
      border-top-right-radius: var(--flap-height);
      background-color: var(--accent-color);
  }
  
  *, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  h1 {
    margin-top: 100px;
    margin-bottom: 0px;
    display: inline;
    font-size: 30px;
    text-transform: uppercase;
    color: #F49E4C;
    @media (min-width: 700px) {
      font-size: 9vw;
    }
    @media (min-width: 1400px) {
      font-size: 150px;
    }
  }
  
  @supports (-webkit-background-clip: text) {
  h1 {
    color: transparent;
    background: linear-gradient(7deg, #F5EE9E 50%, #d6ca4e 0);
    -webkit-background-clip: text;
  }
  }
  
  .button-34 {
    margin-bottom: 15px;
  
    background: #5E5DF0;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    border: 0;
    border-radius: 20px;
  
    width: fit-content;
    word-break: break-word;
    height: min-content;
  
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 18px;
    font-weight: 700;
  
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .content{
    display: grid;
    grid-auto-rows: 35px;
    grid-template-columns: 35% 65%;
    gap: 2rem 1rem;
  }
  
  .content > input{
    width: 90%;
  }

  .content > select 
  {
    width: 90%;
  }
  
  .ul-cards .title {
    letter-spacing: 3px;
  }